@use "colorPallete" as v;

#atom-details-container {
	outline: 5px outset v.$light-opposite;
	outline-offset: -3px;
	border-radius: 10px;

	// width: 100%;
	// height: 100%;
	// grid-span: 2;
	grid-column: span 2;
	padding: 1em;

	display: flex;
	flex-wrap: wrap;

	// grid-template-columns: repeat(5, 1fr);
	gap: 0.5ch;

	justify-content: space-evenly;
	// align-items: center;
	// justify-items: center;

	.details {
		display: inline;
		padding: 0.75ch 1ch;
		// background-color: aqua;
		border-radius: 10px;
	}

	.span {
		// background-color: red;
		grid-column: span 2;
	}

	.end {
		grid-column-end: -1;
		justify-self: center;
	}
	// COLOR ASSIGNMENT
	// #atomic-number {
	// 	color: var(--rainbow-1);
	// }

	#atomic-mass-field {
		color: var(--rainbow-1);
	}
	#atomic-number-field {
		color: var(--rainbow-2);
	}
	#year-discovered-field {
		color: var(--rainbow-3);
	}
	#group-block-field {
		color: var(--rainbow-4);
	}
	#oxidation-states-field {
		color: var(--rainbow-5);
	}
	#metling-point-field {
		color: var(--rainbow-6);
	}
	#electronic-configuration-field {
		color: var(--rainbow-7);
	}
	#ionization-energy-field {
		color: var(--rainbow-8);
	}
	#electron-negativity-field {
		color: var(--rainbow-9);
	}
	#atomic-radius-field {
		color: var(--rainbow-10);
	}
	#electron-afinity-field {
		color: var(--rainbow-11);
	}
	#standard-state-field {
		color: var(--rainbow-12);
	}
	#boiling-point-field {
		color: var(--rainbow-13);
	}
	#density-field {
		color: var(--rainbow-14);
	}
}

.field {
	display: inline;
}
