:root {
	--true-white: white;
	--true-black: black;
}

$colors: (
	#ff7d7d,
	#ffaaaa,
	#ff9c2b,
	#ffd42b,
	#ebf650,
	#a5ff52,
	#51ff00,
	#0cff00,
	#45f1fd,
	#45daff,
	#93c9ff,
	#adc9ff,
	#a9afff,
	#d8a9ff,
	#eea9ff
);

.dark-mode {
	--opposite: white;
	--light-opposite: rgb(192, 192, 192);
	--neutral: rgb(61, 61, 61);
	--dark-neutral: #333;
	--light-theme: #111;
	--theme: black;

	--accent: #f49f0a;
	--selected-accent: #cf870a;
	--dark-accent: #e89400;
	--selected-dark-accent: #ffab19;

	@for $i from 1 through length($colors) {
		$x: nth($colors, $i);
		--rainbow-#{$i}: #{$x};
	}
}

.light-mode {
	--opposite: black;
	--light-opposite: rgb(102, 102, 102);
	--neutral: rgb(255, 255, 255);
	--dark-neutral: #45a318;
	--light-theme: #099763;
	--theme: white;

	--accent: #f4600a;
	--selected-accent: #cf420a;
	--dark-accent: #e83600;
	--selected-dark-accent: #ff3419;

	@for $i from 1 through length($colors) - 1 {
		$x: darken(nth($colors, $i), 30);
		--rainbow-#{$i}: #{$x};
	}
	--rainbow-15: #{nth($colors, 15)};
}

$true-white: var(--true-white);
$true-black: var(--true-black);

$opposite: var(--opposite);
$light-opposite: var(--light-opposite);
$neutral: var(--neutral);
$dark-neutral: var(--dark-neutral);
$light-theme: var(--light-theme);
$theme: var(--theme);

$accent: var(--accent);
$selected-accent: var(--selected-accent);
$dark-accent: var(--dark-accent);
$selected-dark-accent: var(--selected-dark-accent);
