@use "colorPallete" as v;

/* ++ SCROLLBAR */
::-webkit-scrollbar {
	/* width */
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

// ++ NAVBAR
.nav-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
	background-color: v.$dark-neutral;

	display: flex;
	/* border: white solid; */
	box-shadow: 0px 5px 15px lighten(black, 10%);
	/* position: sticky; */
	/* top: 10; */
	/* bottom: 90%; */

	li {
		/* float: left; */

		a {
			display: block;
			color: v.$true-white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;

			/* border: cyan 1px solid; */
		}

		a:hover {
			background-color: v.$selected-accent;
		}
	}
}
