@use "colorPallete" as v;
// @use "utils";
@mixin mixin-blur {
	text-shadow: 0 0 8px v.$light-opposite;
	text-decoration: underline;
}

#cards {
	height: 100%;
	width: 100%;

	box-sizing: border-box;
	// border: 1px solid;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	padding: 3em;

	justify-items: center;
	align-items: flex-start;
	/* margin-right: 100px; */
	/* animation: rotate 1500ms ease-in-out infinite; */
}

.item {
	&.child {
		padding: 0.4em;
	}
	box-sizing: border-box;

	text-align: center;

	border-radius: 10px;
	border: 3px solid v.$neutral;
	min-height: 100px;
	color: v.$true-white;
	cursor: pointer;
	width: 100%;
}
.parent {
	height: 200px;
	overflow: hidden;
	position: relative;

	.category {
		font-size: 2em;
	}
	.body {
		font-size: 1em;
	}
	// overflow: hidden;
}

#atomic-structures {
	height: 300px;

	.img-clipped {
		width: 100%;
		height: 50%;
		background-image: url("../assets/atomic-structure.jpeg");
		background-position: center center;
		background-size: cover;
		background-clip: padding-box;
		// position: absolute;
	}

	.card-content {
		// flex-direction: column;
		// display: flex;
		// align-items: center;
		// justify-content: space-around;
		height: 50%;
	}
}

#chemical-bonding {
	height: 300px;

	.img-clipped {
		width: 100%;
		height: 50%;
		background-image: url("../assets/chemical-bonding.jpg");
		background-position: center center;
		background-size: cover;
		background-clip: padding-box;
		// position: absolute;
	}
	.card-content {
		// flex-direction: column;
		// display: flex;
		// align-items: center;
		// justify-content: space-around;
		height: 50%;
	}
}

.child {
	// content: sit;
	width: 90%;
	justify-self: right;

	// &card-content: {
	// }
}

.left {
	background-image: linear-gradient(45deg, v.$light-theme, v.$dark-neutral);
	// justify-self: right;

	&:hover {
		transform: rotateZ(1deg);
		/* background-image: linear-gradient(to bottom right, var(--dark-gray), var(--selected-dark-gray)); */
		border-color: v.$accent;
		z-index: 0;
		box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
	}
}

.right {
	background-image: linear-gradient(-45deg, v.$light-theme, v.$dark-neutral);
	// justify-self: left;

	&:hover {
		transform: rotateZ(-1deg);
		/* background-image: linear-gradient(to bottom right, var(--dark-gray), var(--selected-dark-gray)); */
		border: 3px solid v.$accent;
		z-index: 0;
		box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
	}
}

.bullet {
	border-radius: 100%;
	min-width: 1em;
	min-height: 1em;
	background-color: black;

	justify-content: center;
	align-items: center;
	background-color: v.$light-theme;
}

.item:hover {
	transition: ease-in-out 100ms;
	/* transform: rotateY(20deg);  */
}

.bulleted {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	text-decoration: none;
}

// .rem-under {
// 	text-decoration: none;
// }

// CARD CONTENTS
.title {
	font-size: 1.5em;
}

.card-content {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// height: 50%;
	.body {
		font-size: 0.9em;
		font: "lato";
	}
}

.body {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

//
.toTheTop {
	// visibility: hidden;
	border-radius: 100%;
	width: 3em;
	height: 3em;
	position: fixed;
	background-color: v.$dark-accent;

	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -2px 3px 5px 0 v.$true-black;

	top: 5em;
	right: 2.5em;
}

body {
	padding: 1em;
}

.body-text {
	h2 {
		color: var(--rainbow-4);
		font-size: 2.2em;
		padding-left: 0.2ch;
		@include mixin-blur;
	}

	h3 {
		color: var(--rainbow-6);
		font-size: 1.8em;
		padding-left: 0.8ch;
		// padding-top: 3em;
		@include mixin-blur;
	}

	h4 {
		color: var(--rainbow-7);
		font-size: 1.5em;
		padding-left: 1.4ch;
		// padding-top: 3em;
		@include mixin-blur;
	}

	h5 {
		color: var(--rainbow-10);
		font-size: 1.3em;
		padding-left: 2ch;
		@include mixin-blur;
	}

	h6 {
		color: var(--rainbow-12);
		font-size: 1.2em;
		padding-left: 2.6ch;
		@include mixin-blur;
	}

	p {
		text-indent: 6ch;
		text-align: justify;

		// padding: 0.5em 2.5em;
	}
}

.body-text {
	img {
		padding: 3em;
		// width: 100%;
		max-height: 500px;
		box-sizing: border-box;
		// align-self: center;
		justify-self: center;
	}

	p {
		padding: 0.5em 2.5em;
	}

	ol,
	ul,
	li {
		// margin-right: 2em;
		// padding-left: 2em;
		margin-left: 2em;
	}
}

.norm-link {
	text-decoration: none;
	&:hover {
		color: v.$accent;
	}
	&:visited {
		color: v.$selected-dark-accent;
	}
	&:link {
		color: var(--rainbow-14);
	}
}

td,
th
// tr
{
	outline: 1px solid v.$opposite;
	padding: 0.5em;
}

th {
	font-size: 1.2em;
	font-style: italic;
}

.utils-wrap-center {
	display: flex;
	justify-content: center;
}

// REFERENCES

.reference-btn {
	background-image: linear-gradient(
		-45deg,
		v.$light-theme,
		v.$dark-neutral,
		v.$light-theme
	);
	padding: 1em;
	max-width: 12vw;
	border-radius: 10px;
	min-height: 0;
	// display: grid;
	// justify-self: right;
	// border: ;

	&:hover {
		// transform: rotateZ(1deg);
		/* background-image: linear-gradient(to bottom right, var(--dark-gray), var(--selected-dark-gray)); */
		border-color: v.$accent;
		// z-index: 0;
		box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
	}
}

.left-wrap {
	display: flex;
	justify-content: flex-end;
}

.disabled {
	opacity: 0.3;
}

.rem-under {
	text-decoration: none;
}

//
.bg {
	position: fixed;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	height: 100vh;
	width: 100vw;

	background-image: url("../assets/background.png");
	background-repeat: repeat;
	z-index: -100;
	opacity: 0.09;
}

.light-mode {
	.bg {
		opacity: 0.3;
	}
}
