@use "colorPallete" as v;
@use "utils";
@use "home";
@use "generals";
@use "periodicTable";
@use "atomicDetails";
@use "atomicModel";
@use "responsive";

.blur {
	/* filter: blur(50) */
	// text-shadow: 0 0 15px var(--light-opposite);
	text-shadow: 0 0 15px v.$light-opposite;
}

.image-clip {
	// background: url(../assets/Menu.gif) no-repeat;
	-webkit-background-clip: text;
	background-clip: border-box;
	color: transparent;
	background-size: cover;
	background-position: center;

	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 60%;
}

body {
	margin: 0;
	background-color: v.$neutral;
	font-family: "Lato", sans-serif;
	color: v.$opposite;
}

.stick {
	position: sticky;
	top: 0px;
	z-index: 1;
}

.greet {
	/* height: 1px; */
	color: v.$opposite;
	padding-top: 10px;
	text-align: center;
	position: -webkit-sticky;
	top: 0;
}

#darkmode {
	min-width: 20px;
	min-height: 20px;
	font-size: 1em;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0px 16px;

	margin-left: auto;
	color: v.$opposite;

	/* z-index: 2; */
}

#circle {
	/* color: aqua; */
	background-color: red;
	border-radius: 50%;
	position: absolute;
	align-items: right;
}
/* preset */

#content {
	display: flex;
	flex-wrap: wrap;
	// grid-template-columns: 8fr 4fr;
	padding: 1em;
	gap: 1em;

	.wrap {
		display: flex;
		gap: 1em;
		// justify-content: center;
	}
	// grid-template-rows: 9fr 3fr;
}
