/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss ***!
  \*****************************************************************************************************************/
:root {
  --true-white: white;
  --true-black: black;
}

.dark-mode {
  --opposite: white;
  --light-opposite: rgb(192, 192, 192);
  --neutral: rgb(61, 61, 61);
  --dark-neutral: #333;
  --light-theme: #111;
  --theme: black;
  --accent: #f49f0a;
  --selected-accent: #cf870a;
  --dark-accent: #e89400;
  --selected-dark-accent: #ffab19;
}

.light-mode {
  --opposite: black;
  --light-opposite: rgb(102, 102, 102);
  --neutral: rgb(255, 255, 255);
  --dark-neutral: #45a318;
  --light-theme: #099763;
  --theme: white;
  --accent: #f4600a;
  --selected-accent: #cf420a;
  --dark-accent: #e83600;
  --selected-dark-accent: #ff3419;
}

/* ++ SCROLLBAR */
::-webkit-scrollbar {
  /* width */
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: var(--dark-neutral);
  display: flex;
  /* border: white solid; */
  box-shadow: 0px 5px 15px #1a1a1a;
  /* position: sticky; */
  /* top: 10; */
  /* bottom: 90%; */
}
.nav-container li {
  /* float: left; */
}
.nav-container li a {
  display: block;
  color: var(--true-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border: cyan 1px solid; */
}
.nav-container li a:hover {
  background-color: var(--selected-accent);
}

.ontop {
  /* to the buttons will lay on the top of the gif*/
  position: relative;
  z-index: 1;
}

.periodic-table-container {
  padding: 20px;
  /* padding */
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, minmax(0, 1fr));
  grid-template-rows: repeat(7, 1fr);
  gap: 1px 1px;
  grid-template-areas: ".  wa wa wa wa wa wa wa wa wa wa wa wa wa wa wa wa ." ".  .  wb wb wb wb wb wb wb wb wb wb .  .  .  .  .  ." ".  .  wb wb wb wb wb wb wb wb wb wb .  .  .  .  .  ." ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." ".  .  wc .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." ".  .  wc .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." "wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd" "we we we .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." "we we we .  .  .  .  .  .  .  .  .  .  .  .  .  .  .";
}

.transparent {
  background-color: transparent;
  display: inline;
}

#spacer1 {
  grid-area: wa;
}

#spacer2 {
  grid-area: wb;
}

#spacer3 {
  grid-area: wc;
}

#spacer4 {
  grid-area: wd;
  height: 1em;
  width: 100%;
}

#spacer5 {
  grid-area: we;
}

.elements {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  justify-content: center;
  width: auto;
  align-items: center;
}
.elements:hover {
  /* animation: enlarge 100ms ease-in; */
  /* animation-fill-mode: backwards; */
  transform: scale(2);
  transition: 100ms;
  outline: 3px solid var(--selected-accent);
  border-radius: 5px;
}

.symbol {
  font-size: 0.8em;
}

.atomic-symbol {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
}

.atomic-number,
.atomic-name,
.atomic-weight {
  font-size: 0.5em;
}

@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
#x2 {
  /* grid-area: He; */
  background-color: rebeccapurple;
  /* grid-row: 1 / 2; */
  /* grid-column: 17 / 18; */
  /* grid-row: 2; */
  /* position: absolute; */
}

#atom-details-container {
  outline: 3px solid white;
  outline-offset: -3px;
  border-radius: 10px;
  grid-column: span 2;
  padding: 1em;
}

.field {
  display: inline;
}

#atomic-model-container {
  outline: 3px solid white;
  outline-offset: -3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#atomic-model {
  aspect-ratio: unset;
}

.force-landscape {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  visibility: hidden;
}

@media screen and (orientation: portrait) {
  .force-landscape {
    visibility: visible;
    z-index: 100;
    height: 100%;
    background-color: var(--neutral);
    position: fixed;
    padding: 1em;
  }
  body * {
    visibility: hidden;
    position: absolute;
  }
}
.blur {
  /* filter: blur(50) */
  text-shadow: 0 0 15px var(--light-opposite);
}

.image-clip {
  -webkit-background-clip: text;
  background-clip: border-box;
  color: transparent;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 60%;
}

body {
  margin: 0;
  background-color: var(--neutral);
  font-family: "Lato", sans-serif;
  color: var(--opposite);
}

.stick {
  position: sticky;
  top: 0px;
}

#greet {
  /* height: 1px; */
  color: var(--opposite);
  padding-top: 10px;
  text-align: center;
  position: -webkit-sticky;
  top: 0;
}

#darkmode {
  min-width: 20px;
  min-height: 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px 16px;
  margin-left: auto;
  color: var(--opposite);
  /* z-index: 2; */
}

#cards {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 3em;
  justify-items: center;
  align-items: flex-start;
  /* margin-right: 100px; */
  /* animation: rotate 1500ms ease-in-out infinite; */
}

.item {
  text-align: center;
  border-radius: 10px;
  border: 3px solid var(--neutral);
  min-width: 100%;
  min-height: 100px;
  color: var(--true-white);
}
.item.left {
  background-image: linear-gradient(45deg, var(--light-theme), var(--dark-neutral));
}
.item.left:hover {
  transform: rotateZ(1deg);
  /* background-image: linear-gradient(to bottom right, var(--dark-gray), var(--selected-dark-gray)); */
  border-color: var(--accent);
  z-index: 0;
}
.item.right {
  background-image: linear-gradient(-45deg, var(--light-theme), var(--dark-neutral));
}
.item.right:hover {
  transform: rotateZ(-1deg);
  /* background-image: linear-gradient(to bottom right, var(--dark-gray), var(--selected-dark-gray)); */
  border: 3px solid var(--accent);
  z-index: 0;
}

.parent {
  height: 200px;
}

.child {
  content: sit;
}

.item:hover {
  transition: ease-in-out 100ms;
  /* transform: rotateY(20deg);  */
}

#circle {
  height: 25px;
  width: 25px;
  /* color: aqua; */
  background-color: red;
  border-radius: 50%;
  position: absolute;
  align-items: right;
}

/* preset */
#content {
  display: grid;
  grid-template-columns: 8fr 4fr;
}
